.menu1{
    display: flex;
    justify-content: center;
}

.listado li{
    font-size: 14px;
    margin: 2px;
    padding: 2px;
    color: blue;
}

.listado li:hover{
    font-size: 22px;
}

.columnas{
    display: flex;
    flex-direction: row;
}
.columna1{
    display: flex;
    margin: 50px;
    background-color: gainsboro;
    padding: 20px;
    flex-direction: column;
}
.columna2{
    display: flex;
    margin: 50px;
    background-color: gainsboro;
    padding: 20px;
    flex-direction: column;
}
.columna3{
    display: flex;
    margin: 50px;
    background-color: gainsboro;
    padding: 20px;
    flex-direction: column;
}

.tarjeta1{
    padding: 10px;
    margin: 10px;
    background-color: aqua;
    font: 150% arial;
}

.tarjeta2{
    padding: 10px;
    margin: 10px;
    background-color: pink;
    font: 150% arial;
}

.tarjeta3{
    padding: 10px;
    margin: 10px;
    background-color: yellow;
    font: 150% arial;
}

.boton{
    display: flex;
    justify-content: center;
    position: static;
    bottom: 0;
}